<header>
  <nav>
    <%= link_to "Home", root_url %>
    <% if logged_in? %>
      <%= link_to "Profile", current_user %>
      <%= link_to "Settings", edit_user_path(current_user) %>
      <%= link_to "Logout", logout_path, method: "delete" %>
    <% else %>
      <%= render 'sessions/login_form' %>
    <% end %>
  </nav>
</header>
